.form-check-input:checked {
  background-color: rgb(44, 165, 44);
}


.form-check-input:checked + .form-check-label::before {
  background-color: green;
}


.form-switch .form-check-input {
  width: 50px;
  height: 30px;
}